<p fundoAmarelo>
    Texto com fundo amarelo!
</p>

<button fundoAmarelo>
    Botão com fundo amarelo!
</button>

<br><br>

<p appHighlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<!-- <p highlight [defaultColor]="'grey'" [highlightColor]="'pink'"> -->
<p [highlight]="'pink'" [defaultColor]="'grey'">
    Texto com highlight com cores customizadas.
</p>

<h5>Diretiva de Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
    Não existem cursos aqui.
</div>

<button (click)="onMostrarCursos()">
    Mostrar ou esconder cursos
</button>
<br><br>

<ng-template [ngElse]="mostrarCursos">
    <div>Não existem cursos aqui.</div>
</ng-template>