<nav class="navbar navbar-expand-lg bg-dark"data-bs-theme="dark">
  <div class="container-fluid">
    <!-- <a class="navbar-brand">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link"
          [class.active]="aba == 'home'"
          (click)="aba = 'home'" >Home
        </a>
        <a class="nav-link" 
          [class.active]="aba == 'features'"
          (click)="aba = 'features'">Features
        </a>
        <a class="nav-link" 
          [class.active]="aba == 'pricing'"
          (click)="aba = 'pricing'">Pricing
        </a>
        <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
      </div>
    </div>
  </div>
</nav>

<div class="container" [ngSwitch]="aba">
  <p *ngSwitchCase="'features'">Aba Features aberta.</p>
  <p *ngSwitchCase="'pricing'">Aba Pricing aberta.</p>
  <p *ngSwitchDefault>Home</p>
</div>

<!---------------------------------------------------------->

<h5>Removendo o * e usando template</h5>

<div class="container" [ngSwitch]="aba">
  <ng-template [ngSwitchCase]="'features'">
    <p>Aba Features aberta.</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'pricing'">
    <p>Aba Pricing aberta.</p>
  </ng-template>
  <ng-template [ngSwitchCase]="'home'" ngSwitchDefault>
    <p>Home</p>
  </ng-template>
</div>